.App {
  font-family: sans-serif;
  text-align: center;
}
.slider-container {
}

.slider-img {
  padding: 0.1rem;
  margin: 0.1rem;
  cursor: pointer;
}

button.left {
  padding: 0.15rem;
  cursor: pointer;
  position: absolute;
  margin-top: 0.8rem;
  margin-left: -1.2rem;
}
button.right {
  padding: 0.15rem;
  cursor: pointer;
  position: absolute;
  margin-top: 0.8rem;
  margin-left: 0.2rem;
}
.active-img {
  border: 1px solid #cccccc;
}
